HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
weblog-admin/src/test/
weblog-article/weblog-article-api/src/main/resources/
weblog-article/weblog-article-api/src/test/
weblog-article/weblog-article-app/src/test/
weblog-article/weblog-article-service/src/main/resources/mapper/
weblog-article/weblog-article-service/src/test/
weblog-common/src/main/resources/
weblog-common/src/test/
weblog-user/weblog-user-api/src/main/resources/
weblog-user/weblog-user-api/src/test/
weblog-user/weblog-user-service/src/main/resources/mapper/
weblog-user/weblog-user-service/src/test/
